<article class="card mb-2">
    <div class="card-body">
        <p>{{item.origin}}</p>
        <p>{{item.shortURL}}</p>
        <a href="#" class="btn btn-danger">Eliminar</a>
        <a href="#" class="btn btn-warning">Editar</a>
        <a href="#" class="btn btn-info">copiar</a>
    </div>
</article>